*{
  margin:0;
  padding:0; 
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Form Controls */
/*  */

.email:focus ~ .email-text {
  opacity:1;
  animation-name: reveal;
  animation-duration: 1s;

}


/* @keyframes reveal {
  0%{
    opacity: 0;
    bottom: 0;
  }
  100%{
    opacity: 1;
    bottom: 4em;
    color: "green";
  }
}


@keyframes hide {
  0%{
    opacity: 1;
    bottom: 4em;
  }
  100%{
    opacity: 0;
    bottom: ;
    color: "green";
  }
} */